.outer {
  width: 500px;
  height: 500px;
  background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.outer > .inner {
  width: 200px;
  height: 300px;
  background-color: green;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.outer > .inner .con {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
