.box1 {
  width: 100px;
  height: 100px;
  background: red;
}
.box {
  width: 100px;
  height: 100px;
  background-size: contain;
}
.box3 {
  background-image: url('../images/react.jpg');
}
.box4 {
  background-image: url('../images/vue.png');
}
