.header .headerTop_out {
  width: 100%;
  background-color: #eaeaea;
}
.header .headerTop_out .headerTop {
  width: 1200px;
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .headerTop_out .headerTop_left {
  display: flex;
}
.header .headerTop_out .headerTop_left p {
  margin-right: 10px;
}
.header .headerTop_out .headerTop_left a + a {
  border-left: 1px solid #3c3c3c;
  padding-left: 5px;
}
.header .headerTop_out .headerTop_right a {
  margin-right: 5px;
}
.header .headerTop_out .headerTop_right a + a {
  border-left: 1px solid #3c3c3c;
  padding-left: 5px;
}
.header .headerBottom {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .headerBottom .logo img {
  width: 175px;
  height: 56px;
  display: block;
  margin: 25px 45px;
}
.header .headerBottom .header_search {
  margin-top: 35px;
  display: flex;
}
.header .headerBottom .header_search input {
  box-sizing: border-box;
  width: 490px;
  height: 32px;
  padding: 0 4px;
  border: 2px solid #ea4a36;
  outline: none;
}
.header .headerBottom .header_search button {
  width: 68px;
  height: 32px;
  background-color: #ea4a36;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
.allnav_outer {
  width: 100%;
  border-bottom: 2px solid #e1251b;
}
.allnav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.allnav h2 {
  width: 210px;
  height: 50px;
  background-color: #e1251b;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}
.allnav nav a {
  font-size: 16px;
  color: #333;
  margin: 0 22px;
}
